#!/usr/bin/make -f
export DH_VERBOSE=1
export PYBUILD_NAME=scales
export PYBUILD_TEST_NOSE=1

%:
	dh $@ --with python2,python3 --buildsystem=pybuild

override_dh_auto_clean:
	rm -rf src/scales.egg-info
	dh_auto_clean
